html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgb(10, 140, 255);
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
}

a:hover{
    color: rgb(40, 180, 255);
}

/* General */
.title{
    display: block;
    color: rgb(10, 140, 255);
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

.section-title{
    border-style: solid none;
    border-width: 1px;
    border-color: rgb(10, 140, 255);
    padding: 10px 0px;
    margin-bottom: 15px;
    font-size: 30px !important; /* Override .title */
}

ul.inline-list{
    position: relative;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.inline-list li{
    display: inline-block;
    margin: 0px;
}

div.alert-box{
    z-index: 2;
    position: absolute;
    left: 5%;
    display: inline-block;
    width: 90%;
    height: 100px;
    margin: 10px auto;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(100, 100, 100);
    border-radius: 15px;
}

div.alert-box .boxTimer{
    position: absolute;
    top:0px;
    right: 0px;
    width: 15%;
    height: 100%;
    padding: 15px 0px;
    border-style: none none none solid;
    border-width: 1px;
    border-color: rgb(100, 100, 100);
    text-align: center;
    font-size: 70px;
    line-height: 70px;
}

div.alert-box p{
    display: inline-block;
    padding: 15px;
    margin: 0px;
    width: 85%;
}

.button{
    display: block;
    width: 20%;
    margin: 10px 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(250, 250, 250);
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
}

.button:hover{
    background-color: rgb(255, 255, 255);
    border-color: rgb(10, 140, 255);
}

/* General Formatting */
.container{
    display: block;
    position: relative;
    width: 850px;
    padding: 40px 0px;
    margin: 0px auto;
}

.inline-row{
    position: relative;
    margin: 20px 0px;
    display: block;
}

.container:first-child{
    padding-top: 0px;
}

.container:last-child{
    padding-bottom: 0px;
}

.text-container{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 59%;
    font-size: 18px;
    text-align: justify;
    vertical-align: middle;
}

div.container div:only-of-type{
    width: 100%;
    text-align: center;
}

.image-container{
    display: inline-block;
    position: relative;
    padding: 10px 80px;
    height: 100%;
    width: 39%;
}

.image-container:first-child{
    padding-left: 0px;
}

.image-container:last-child{
    padding-right: 0px;
}

.image-container img{
    vertical-align: middle;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    width: 100%;
}

/* wrappers */
.wrapper{
    position: relative;
    text-align: center;
}

div#standard-page-header{
    height: 101px; /* Computed size*/
    border-style: none none solid none;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(115, 190, 255);
    text-align: center;
}

div#body-wrapper{
    padding: 20px 0px;
    font-size: 18px;
}

div#footer-wrapper{
    padding: 15px 0px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(130, 130, 130);
    border-style: solid none none none;
    border-width: 1px;
}

/* Navigation and Heading */
div#navigation-container{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

div#logo-container{
    display: inline-block;
    position: relative;
    height: 100px;
    padding: 20px 25px;
    font-size: 40px;
    float: left;
}

div#logo-container a{
    color:rgb(255, 255, 255) !important;
}

div#logo-container a:hover{
    color:rgb(100, 180, 255)!important;
}

ul#navBar li a{
    display: block;
    padding:10px 25px;
    font-size: 20px;
}

div#page-header-wrapper a, div#footer-wrapper a{
    color: rgb(115, 190, 255);
}

div#page-header-wrapper ul#navBar a:hover, div#footer-wrapper a:hover{
    color: rgb(255, 255, 255);
}
